VITE_API_BASE_URL=https://api.seliseblocks.com
VITE_X_BLOCKS_KEY=your_key_here
VITE_PROJECT_SLUG=your_slug_here
VITE_APP_DOMAIN=your_domain_here
VITE_BLOCKS_OIDC_REDIRECT_URI=http://localhost:3000/oidc
VITE_BLOCKS_OIDC_CLIENT_ID=your_client_id
VITE_GOOGLE_CLIENT_ID=your_google_client_id
